@import "tailwindcss";
    

@theme {
      --color-teal-600: #008080; /* Example: a custom primary color */
      --color-secondary: #33FF57; /* Example: a custom secondary color */
      --color-accent: #5733FF;   /* Example: a custom accent color */
    }